@model IEnumerable<HanaSolution.Data.ViewModels.ProductViewList>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main-content" class=" ">
    <section class="wrapper main-wrapper" style=''>

        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <div class="page-title">

                <div class="pull-left">
                    <h1 class="title">Product</h1>
                </div>

                <div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="/"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href="/Product/List">Product</a>
                        </li>
                        <li class="active">
                            <strong>Product</strong>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-lg-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">All Product</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle fa fa-chevron-down"></i>
                        <a href=""><i class="box_setting fa fa-refresh"></i></a>
                        <a href="/Product/Add"><i class="box_setting fa fa-plus"></i></a>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">



                            <!-- ********************************************** -->


                            <table id="example" class="display table table-hover table-condensed" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Category Name</th>
                                        <th>Description</th>
                                        <th>Avatar</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.Title</td>
                                                <td>@item.Desc</td>
                                                <td style="text-align:center"><img src="@item.Avatar" style="width:150px;height:auto" /></td>
                                                <td>@String.Format("{0:0,00}", item.Price)</td>
                                                <td class="action-td">
                                                    <div class="row">
                                                        <a class="btn btn-info"><i class="fa fa-eye"></i></a>
                                                        <a id="r_@item.ID" onclick="deletes('/Product/Delete/@item.ID','@item.ID','@item.Title')" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                                    </div>
                                                    <div class="row">
                                                        <a class="btn btn-success" href="/Product/Edit/@item.ID"><i class="fa fa-edit"></i></a>
                                                        <a class="btn btn-warning" href="/Product/FeedBack/@item.ID"><i class="fa fa-comments"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                            <!-- ********************************************** -->




                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</section>
<script type="text/javascript">

    function deletes(action, id, name) {
        $.confirm({
            title: 'Thông báo!',
            content: 'Xác nhận để xóa dữ liệu này - [' + name + ']',
            buttons: {
                ok: function () {
                    $.ajax({
                        method: "GET",
                        url: action,
                    }).done(function (result) {
                        if (result != '') {
                            $.alert({
                                title: 'Thông báo!',
                                content: 'Xảy ra lỗi khi xóa dữ liệu:' + result,
                            });
                        }
                        else {
                            var i = jQuery('#r_' + id).closest('tr');
                            i.remove();
                            $.alert({
                                title: 'Thông báo!',
                                content: 'Đã xóa dữ liệu thanh công!',
                            });
                        }
                    })
                },
                cancel: function () {
                    return;
                }
            }
        });
    }
</script>
